@model Bank.Models.Payment

@{
    ViewData["Title"] = "Payments";
}

<div class="container">
    <h4>Account @Model.DestAccount / @Model.DestBank does not exist. Do you want to continue?</h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestAccount)
        </dt>
        <dd>
            @if (Model.DestAccountPrefix != null)
                    {
            @Html.DisplayFor(model => model.DestAccountPrefix);
            @Html.Raw(" - ");
                    }
            @Html.DisplayFor(model => model.DestAccount) / @Html.DisplayFor(model => model.DestBank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Constant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Constant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Variable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specific)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specific)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>

    <form asp-action="NoAccount" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Date" />
        <input type="hidden" asp-for="DestAccountPrefix" />
        <input type="hidden" asp-for="DestAccount" />
        <input type="hidden" asp-for="DestBank" />
        <input type="hidden" asp-for="Amount" />
        <input type="hidden" asp-for="Constant" />
        <input type="hidden" asp-for="Variable" />
        <input type="hidden" asp-for="Specific" />
        <input type="hidden" asp-for="Message" />

        <button type="submit" class="btn btn-primary btn-user-index">Continue</button>
        <a asp-action="Payment" class="btn btn-default">Back</a>
    </form>

</div>